@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

:root {
  --clr-primary: #000000;
  --clr-secondary: #f8f8f8;
  --clr-text-2: #000000;
  --clr-white: #fff;
}
body {
  overflow-x: hidden;

  color: var(--clr-black);
  background-color: var(--clr-primary);
  font-family: "Poppins", sans-serif;
  /* background: rgb(59, 51, 100);
  background: linear-gradient(
    90deg,
    rgba(59, 51, 100, 1) 0%,
    rgba(62, 62, 117, 1) 50%,
    rgba(52, 60, 100, 1) 100%
  ); */
}
.grid-transition {
  transition: grid-template-rows 500ms;
}
